# Eksik Veri Analizi

### Hızlı Çözümler

In [21]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
df = pd.DataFrame(
        {"V1" : V1,
         "V2" : V2,
         "V3" : V3}
) #3 adet numpy array oluşturup, bunlardan bir dataframe oluşturduk.
df

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [3]:
df.isnull().sum() #her bir değişkendeki eksik değer sayısını verir.Kaç eksik değer var cevabı.

V1    2
V2    3
V3    2
dtype: int64

In [4]:
df.notnull().sum() #eksik olmayan değerlerin sayısını verir.

V1    7
V2    6
V3    7
dtype: int64

In [5]:
df.isnull().sum().sum() #verisetindeki toplam eksik değer sayısını verir.

7

In [6]:
df.isnull() #verisetinde eksiklik var mı yok mu bunu sorduk. her değeri sorguladı. t-f cevabı verdi.

      V1     V2     V3
0  False  False   True
1  False   True  False
2  False  False  False
3   True  False  False
4  False  False  False
5  False   True  False
6   True   True   True
7  False  False  False
8  False  False  False

In [8]:
df[df.isnull().any(axis = 1)] #en az 1 eksik değer varsa seç demiş olduk. eksik değer olan satırlara eriştik

    V1   V2    V3
0  1.0  7.0   NaN
1  3.0  NaN  12.0
3  NaN  8.0   6.0
5  1.0  NaN   7.0
6  NaN  NaN   NaN

In [9]:
df[df.notnull().all(axis = 1)] #hepsi dolu (all) olan değerleri getir dedik. sütunlara göre getir.

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [10]:
df[df["V1"].notnull() & df["V2"].notnull() & df["V3"].notnull()]
#mesela bi öncekini bilmiyoruz, bununla yine aynı değerlere erişebilirz. all'u bilmesek de.

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

### Eksik değerlerin direkt silinmesi

In [11]:
df.dropna() #eksik değer olanları direkt siliyor. 1 tane eksik bile varsa hemen siliyor.

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [12]:
df #ama yukarıdaki geçici bir silme yaptı. Kalıcı olmasını istersek:

     V1    V2    V3
0   1.0   7.0   NaN
1   3.0   NaN  12.0
2   6.0   5.0   5.0
3   NaN   8.0   6.0
4   7.0  12.0  14.0
5   1.0   NaN   7.0
6   NaN   NaN   NaN
7   9.0   2.0   2.0
8  15.0   3.0  31.0

In [13]:
df.dropna(inplace = True) #bu ise kalıcı silme yapıyor.

In [14]:
df

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

### Basit değer atama

In [16]:
df["V1"]

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: V1, dtype: float64

In [17]:
df["V1"].mean()

6.0

In [18]:
df["V1"].fillna(df["V1"].mean()) #bo olan değerlere bunun ortalamasını yerleştirdik.

0     1.0
1     3.0
2     6.0
3     6.0
4     7.0
5     1.0
6     6.0
7     9.0
8    15.0
Name: V1, dtype: float64

In [19]:
df["V2"].fillna(0) #ortalamayı değil de başka değeri koymak istersek yine bu şekilde yapabiliriz.

0     7.0
1     0.0
2     5.0
3     8.0
4    12.0
5     0.0
6     0.0
7     2.0
8     3.0
Name: V2, dtype: float64

In [20]:
#elimizide onlarca değişken olursa, bunu otomatik olarak nasıl yapabiliriz? fonsiyonel programlama ile

In [22]:
df.apply(lambda x: x.fillna(x.mean()), axis = 0)

     V1         V2    V3
0   1.0   7.000000  11.0
1   3.0   6.166667  12.0
2   6.0   5.000000   5.0
3   6.0   8.000000   6.0
4   7.0  12.000000  14.0
5   1.0   6.166667   7.0
6   6.0   6.166667  11.0
7   9.0   2.000000   2.0
8  15.0   3.000000  31.0

In [ ]:
# dedik ki, apply kullandık yani for döngüsü gibi, her bir değişken üzerinde bir işlem yapıcaz,
# bir fonsiyn ile yapacağın işlemi belirticem. x'e bağlı bir fonk yazıyorum. her bir değişkeni yakaladığında
# bunu doldur. ne ile? o değişkenlerin ( x burada sütunları ifade ediyor.) ortalaması ile doldur edik.
# axisi ise = 0 yani satırlara göre göz önünde bulunduracak.