### Kategorik Değişken İçin Eksik Değer Atama

In [1]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V4 = np.array(["IT",np.nan,"IK","IK","IK","IK","IK","IT","IT"], dtype=object)

df = pd.DataFrame(
        {"maas" : V1,
        "departman" : V4}        
)

df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

In [2]:
# burada birisi sayısal birisi kategorik değişkenler. kategorik değişkenlerde eksikliği gidermek için en prstik ve verimli yol mod işlemidir.
# yani ilgili kategorik değişkende, en sık gözlenen terim-değer neyse, o değeri atamaktır.

In [3]:
df["departman"].fillna(df["departman"].mode()[0]) #sıfırı koyunca string değer veriyor o yüzden koyduk. kalıcı olması için inplace koymalı.

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [4]:
#mesela: eksikliği moduyla değil de öncesindeki veya sonrasındaki değer ile doldurmak istersek şunu yapmalıyız:

In [5]:
df["departman"].fillna(method = "bfill") #kndisinden sonraki değer ile doldurdu.

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [6]:
df["departman"].fillna(method = "ffill") #kendisinden önceki değer ile doldurdu.

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object