# Tahmine Dayalı Değer Atama Yöntemleri

In [1]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])
print(df.head())
df.isnull().sum()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [2]:
#makine öğrenmesi algoritmalarıyla, eksik değerleri doldurabilir. Yani: elimizdeki eksik değere sahip olan değişken, 
# diğer değişkenlerce modellenip buna göre değerleri dolduruluyor.

In [3]:
!pip install ycimpute

Collecting ycimpute
  Downloading ycimpute-0.2-py3-none-any.whl (35 kB)
Requirement already satisfied: six in /Users/mustafa/opt/anaconda3/lib/python3.7/site-packages (from ycimpute) (1.15.0)
Requirement already satisfied: numpy>=1.10 in /Users/mustafa/opt/anaconda3/lib/python3.7/site-packages (from ycimpute) (1.19.2)
Requirement already satisfied: scipy in /Users/mustafa/opt/anaconda3/lib/python3.7/site-packages (from ycimpute) (1.6.1)
Requirement already satisfied: scikit-learn>=0.17.1 in /Users/mustafa/opt/anaconda3/lib/python3.7/site-packages (from ycimpute) (0.24.1)
Requirement already satisfied: joblib>=0.11 in /Users/mustafa/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.17.1->ycimpute) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/mustafa/opt/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.17.1->ycimpute) (2.1.0)
Collecting torch>=1.1.0
  Downloading torch-1.8.0-cp37-none-macosx_10_9_x86_64.whl (119.5 MB)
     |████████████████████████████████| 119.5 MB 2.8 MB/s eta 0:00:01    |████████████▉                   | 47.7 MB 2.7 MB/s eta 0:00:28     |█████████████████████▏          | 79.1 MB 2.2 MB/s eta 0:00:19     |████████████████████████▏       | 90.3 MB 2.5 MB/s eta 0:00:12     |█████████████████████████▏      | 94.0 MB 3.3 MB/s eta 0:00:08     |██████████████████████████▏     | 97.8 MB 3.6 MB/s eta 0:00:06     |██████████████████████████▍     | 98.5 MB 3.6 MB/s eta 0:00:06     |██████████████████████████████  | 112.2 MB 6.7 MB/s eta 0:00:02
Collecting typing-extensions
  Downloading typing_extensions-3.7.4.3-py3-none-any.whl (22 kB)
Installing collected packages: typing-extensions, torch, ycimpute
Successfully installed torch-1.8.0 typing-extensions-3.7.4.3 ycimpute-0.2

In [4]:
from ycimpute.imputer import knnimput #k en yakın komşuluk algoritması

In [5]:
var_names = list(df) #değişkenlerin isimlerini tutmamız gerekiyor. Zira, bu atama işlemini yapabilmek adına knnimput bizden bir 
# numpy arrayi bekliyor. Dolayısıyla, öncelikle datafram in isimlerini bir yerde saklayıp, daha sonra verisetini numpy arrayine çevirip,
# atama ilemlerinden sonra tekrar isimlendirme işlemlerini gerçekleştiricez.

In [6]:
import numpy as np
n_df = np.array(df) #bir numpy arrayi oluşturuyoruz. bunu da verisetimiz üzerinden oluşturuyoruz.

In [7]:
n_df[0:10]

array([[ 0.    ,  3.    , 22.    ,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  1.    , 38.    ,  1.    ,  0.    , 71.2833],
       [ 1.    ,  3.    , 26.    ,  0.    ,  0.    ,  7.925 ],
       [ 1.    ,  1.    , 35.    ,  1.    ,  0.    , 53.1   ],
       [ 0.    ,  3.    , 35.    ,  0.    ,  0.    ,  8.05  ],
       [ 0.    ,  3.    ,     nan,  0.    ,  0.    ,  8.4583],
       [ 0.    ,  1.    , 54.    ,  0.    ,  0.    , 51.8625],
       [ 0.    ,  3.    ,  2.    ,  3.    ,  1.    , 21.075 ],
       [ 1.    ,  3.    , 27.    ,  0.    ,  2.    , 11.1333],
       [ 1.    ,  2.    , 14.    ,  1.    ,  0.    , 30.0708]])

In [8]:
dff = knnimput.KNN(k = 4).complete(n_df) #dff isimli yeni bir nesne oluşturuyoruz. k burada komşuluk sayısı. ileride görücez.
# complete yani doldur. neyi doldurmak istersin? n_df i doldur diyoruz.

Imputing row 1/891 with 0 missing, elapsed time: 0.207
Imputing row 101/891 with 0 missing, elapsed time: 0.209
Imputing row 201/891 with 0 missing, elapsed time: 0.210
Imputing row 301/891 with 1 missing, elapsed time: 0.213
Imputing row 401/891 with 0 missing, elapsed time: 0.215
Imputing row 501/891 with 0 missing, elapsed time: 0.217
Imputing row 601/891 with 0 missing, elapsed time: 0.218
Imputing row 701/891 with 0 missing, elapsed time: 0.220
Imputing row 801/891 with 0 missing, elapsed time: 0.221

In [9]:
type(dff) # ama bu bir numpy arrayi bunu bir pandas dataframe ine çevirmeliyiz.

numpy.ndarray

In [11]:
import pandas as pd
dff = pd.DataFrame(dff, columns = var_names)

In [12]:
dff

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  26.026414    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [13]:
type(dff)

pandas.core.frame.DataFrame

In [14]:
dff.isnull().sum() # artık eksik değerlerin hepsi sıfır.

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [15]:
#Random Forest Algoritması

In [16]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])

In [17]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [18]:
var_names = list(df) # isimleri yine bir yerde saklıyoruz.

In [19]:
import numpy as np
n_df = np.array(df) # yine bir numpy arrayine dönüştürme işlemi gerçekleştiriyoruz.

In [20]:
from ycimpute.imputer import iterforest
dff = iterforest.IterImput().complete(n_df) #doldurma işlemini bu sefer random forestla gerçekleştiriyoruz.

AttributeError: module 'ycimpute.imputer.iterforest' has no attribute 'IterImput'

In [21]:
import pandas as pd
dff = pd.DataFrame(dff, columns = var_names)

In [23]:
dff.isnull().sum() #eksik değer kalmadı.

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [24]:
# EM Algoristması

In [25]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])

In [26]:
from ycimpute.imputer import EM

In [27]:
var_names = list(df)
import numpy as np
n_df = np.array(df)

In [28]:
dff = EM().complete(n_df) #complete. neyi doldurucaz? df arrayini

In [29]:
dff = pd.DataFrame(dff, columns = var_names) #dataframe e çevirdik

In [30]:
dff.isnull().sum() #eksiklik kalmadı.

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64